<template>
  <div>
    <h1>This is project A, it contains the 'original' store</h1>
    <p>The template is unaware of the store of project B, so this wont work:</p>
    <code >
      msg() {
        return this.$store.getters["projb/msg"];
      }
      msg: state => state.msg,
    </code>
    <p style="background-color: yellow">{{ msg }}</p>

    <p>The store however is aware of the store of project B, so this will work:</p>
      <code >
        msg() {
          return this.$store.getters["proja/msgfromB"];
        }
        msgfromB: (state, getters, rootState, rootGetters) => rootGetters['projb/msg'],
      </code>
    <p style="background-color: yellow">{{ msgFromB }}</p>
    <p>
      Change text below to change text on project B
    </p>
    <input @input="changeInput" v-model="a" />
  </div>
</template>

<script>
  export default {
    data() {
      return {
        a: '',
      }
    },
    computed: {
      msg() {
        return this.$store.getters["projb/msg"] || 'msg not found';
      },
      msgFromB() {
        return this.$store.getters["proja/msgfromB"] || 'msg not found';
      }
    },
    methods: {
      changeInput() {
        this.$store.commit('proja/set', this.a);
      }
    }
  }
</script>
