<template>
  <div>
    <h1>This is project B, it registers an additional module</h1>
    <p>This templete is extending the original store, and so it is aware, so this will work:</p>
    <code>
      msg() {
        return this.$store.getters['proja/msg'];
      }
      msg: state => state.msg,
    </code>
    <p style="background-color: yellow">{{ msg }}</p>
    <p>And it will work by showing the msg by rootstate:</p>
    <code>
      msgFromA() {
        return this.$store.getters['projb/msgfromA'];
      }
      msgfromA: (state, getters, rootState, rootGetters) => rootGetters['proja/msg'],
    </code>
    <p style="background-color: yellow">{{ msgFromA }}</p>
    <p>
      Change text below to change text on project A
    </p>
    <input @input="changeInput" v-model="a" />
  </div>
</template>

<script>
import storeB from './store/storeB';
export default {
  data() {
    return {
      a: '',
    }
  },
  created() {
    this.$store = window.vuexStore;
    this.$store.registerModule('projb', storeB);
  },
  computed: {
    msg() {
      return this.$store.getters['proja/msg'] || 'msg not found';
    },
    msgFromA() {
      return this.$store.getters['projb/msgfromA'] || 'msg not found';
    }
  },
  methods: {
    changeInput() {
      this.$store.commit('projb/set', this.a);
    }
  }
}
</script>
